@font-face {
  font-family: 'Pretendard';
  src: url('@assets/fonts/PretendardVariable.ttf') format('truetype');
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  background-color: #f0f0f0 !important;
}
